@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root{
    --size-nav: 7vh;
    --background-color: #fafafa;
    --font-color: #fafafa;
    --font-red: #dd5347;
}

html{
    scroll-behavior: smooth;
}

/*----------------- Header -------------------*/

html header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background-color: var(--background-color);;
    height: var(--size-nav);
}

html header nav ul{
    text-align: right;
    float: right;
    font-size: 0;
}

html header nav ul li{
    display: inline-block;
    font-size: 1.6rem;
}


html header nav ul li a{
    display: flex;
    background-color: var(--background-color);
    padding: calc((var(--size-nav) - 2.2rem)/2) 1rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

html header nav ul li:last-child a{
    background-color: var(--font-red);
    color: var(--font-color);
}


html header h1{
    display: inline-block;
    vertical-align: 0.8vh;
    color: gray;
}

html header img{
    margin-top: calc((var(--size-nav) - 3.4vh)/2);
    margin-left: 1rem;
    height: 3.4vh;
}

/*----------------- Main -------------------*/

main{
    background-image: url(../image/home-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 37vh 0;
}

main h2, main a{
    margin-left: 10rem;
}

main h2{
    color: #fafafa;
    font-size: 5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

main a{
    background-color: var(--font-red);
    color: #fafafa;
    display: inline-block;
    padding: 2rem 1rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

/*----------------- Footer -------------------*/



footer h3, footer p{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin: 5rem;
}

footer h3{
    padding-top: 7rem;
}


footer p{
    font-size: 1.6rem;
    font-weight: 600;
}

footer .form{
    max-width: 70rem;
    margin:0 auto;
    margin-bottom: 22rem;
}

.form fieldset form input, .form fieldset form label{
    display:block;
    width: 100%;
    resize: none;
}
.form fieldset form input{
    line-height: 3.5rem;
    background-color: rgba(0, 0, 0, 0.05);
    border:solid 0.1rem transparent;
    border-bottom-color: #ccc;
    margin-bottom: 1.0rem;
}

.form fieldset form input[type="submit"]{
    width: 30rem;
    margin: 0 auto;
    padding: .9rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
    color: var(--font-color);
    background-color: #1A73E8;
}

/*----------------- Arrow -------------------*/

.arrow a img{
    background-color: var(--font-red);
    width: 3rem;
    height: 3rem;
    padding: .7rem;
    border-radius: 50%;
    box-shadow: 0 .5rem 1rem 0 rgba(0, 0, 0, 0.7);
}
.arrow{
    display: block;
    position: sticky;
    position: -webkit-sticky;
    bottom: 1rem;
    z-index: 1;
    text-align: right;
    margin-right: 1rem;
}